.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    padding-top: 20vh;
    padding-bottom: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start .start-logo {
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.start .start-logo img {
    width: 171px;
    height: 217px;
}

.start .start-logo span  {
    font-family: merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.running-top {
    width: 100%;
}

.running-top .start-logo {
    height: 55px;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.running-top .start-logo:hover {
    cursor: pointer;
}

.running-top .start-logo img {
    width: 43px;
    height: 54px;
}

.running-top .start-logo span  {
    font-family: merriweather;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.buttons {
    padding-top: 15vh;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.start .button {
    min-width: 300px;
    height: 50px;

    background-color: #fff;

    border: 3px solid #ffef61;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.button:hover {
    cursor: pointer;
}

.button ion-icon {
    font-size: 25px;

    color:#ffef61
}

.button span {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.card, .face{
    width: 52vh;
    height: 75vh;
    margin-top: 5vh;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.face {
    margin: 0;
    backface-visibility: hidden;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    transition-timing-function: ease-out;
    transform-style: preserve-3d;
}

.face.black {
    border: 5px solid #000000;
}

.face.red{
    border: 5px solid #F74848;
}

.face.green  {
    border: 5px solid #62DB38;
}

.face.yellow{
    border: 5px solid #FFEF61;
}
  
.front {
    transform: rotateY(180deg);
}
  
.face.front {
    transform: rotateY(0deg);
}
  
.face.back {
    transform: rotateY(-180deg);
}

.card-top {
    padding: 12px 12px 5vh 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-top span {
    max-width: 150px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;

    color: #fff;
}

.card-top .tittle {
    color: #000;
}

.card-top .counter {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px; 
    
    color: #000;
}

.question {
    padding: 0 40px;

    text-align: center;
    word-break: normal;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}

.card-footer {
    padding: 12px;
    font-size: 40px;

    display: flex;
    justify-content: space-between;
}

.card-footer ul{
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.card-footer li {
    width: 65px;
    height: 48px;
    padding: 0 10px;

    border: 3px solid;
    box-sizing: border-box;
    border-radius: 12px;

    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;

    word-break: normal;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer li:hover, ion-icon:hover{
    cursor: pointer;
}

li.black, .face.black {
    border-color: #000000;
}

li.red, .face.red{
    border-color: #F74848;
}

li.green, .face.green  {
    border-color: #62DB38;
}

li.yellow, .face.yellow{
    border-color: #FFEF61;
}

.final-screen {
    padding-top: 200px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.final-screen span {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.final-screen p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

    word-break: normal;
}

